// Devices size
$desctop_s: 1920px;
$tablet_s: 1200px;
$mobile_s-lg: 768px;
$mobile_s-sm: 320px;

// Colors
$red_clr-main: #ee1c1f;
$grey_clr-txt: #808080;
$peach_clr-brdr: #ffcacb;
$red_clr-brdr: #FDA4A5;
